@charset "utf-8";

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

html, body {
    overscroll-behavior: none;
}

:root {
    --black: #202020;
    --black_lighter: #353535;
    --grey: #4F4F4F;
    --grey_lighter: #B1B1B1;
    --white_darker: #F5F5F5;
    --white: #FFFFFF;
    --blue: #1E68F9;
}

* {
    font-family: "Manrope", sans-serif;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

*::-webkit-scrollbar { display: none; }


body {
    font-weight: 200 !important;
    font-size: 1em !important;
    line-height: 1.375em !important;
}

a {
    font-style: italic;
    text-transform: uppercase;
}

h1, h2, h3, h4, button, p, a {
    white-space: pre-wrap;
}

button {
    border-radius: 4px !important;
    padding: .75em 5em;
    background-color: var(--white);
    box-shadow: 0 1px 3px 0 rgba(0 0 0 0.1), 0 1px 2px -1px rgba(0 0 0 0.1);
}

button:hover {
    background-color: var(--white);
    color: var(--black);
}

h1, h2, h3, button {
    font-weight: 500 !important;
}

h1 {
    font-size: 3em !important;
    line-height: 1.05em !important;
}

h2 {
    font-size: 2.25em !important;
    line-height: 1.25em !important;
}

h3 {
    font-size: 1.75em !important;
    line-height: 1.25em !important;
}

h4 {
    font-weight: 400 !important;
    font-size: 1.125em !important;
    line-height: 1.222em !important;
}

.project-image {
    height: 65vh !important;
}

.move-bg {
    -webkit-animation: move-bg-animation 30s ease infinite;
    -moz-animation: move-bg-animation 30s ease infinite;
    animation: move-bg-animation 30s ease infinite;
}


@media screen and (max-width: 480px) {
    body { line-height: 1.25em !important; }

    h1 {
        font-size: 2em !important;
        line-height: 1.25em !important;
    }

    h2 {
        font-size: 1.625em !important;
        line-height: 1.15em !important;
    }

    h3 {
        font-size: 1.375em !important;
        line-height: 1.135em !important;
    }

    h4, button {
        font-size: 1.125em !important;
        line-height: 1.111em !important;
    }

    button {
        padding: .75em 2em !important;
    }

    .project-image {
        height: 30vh !important;
    }
}

@-webkit-keyframes move-bg-animation {
    0%{background-position:0 0}
    50%{background-position:50% 50%}
    100%{background-position:0 0}
}
@-moz-keyframes move-bg-animation {
    0%{background-position:0 0}
    50%{background-position:50% 50%}
    100%{background-position:0 0}
}
@keyframes move-bg-animation {
    0%{background-position:0 0}
    50%{background-position:50% 50%}
    100%{background-position:0 0}
}
